
/* START NAV BAR */
.color_nav_my_style{
   background-color: #2C3E50;
   border-radius: 0;
   margin-bottom: 0;
}

.color_nav_my_style .nav>li>a:hover{
    background-color:transparent;
}

.color_nav_my_style .navbar-brand,
.color_nav_my_style .nav>li>a{
    color: white;
}

.icon_bar_style{
    background-color: white;
} 
 
/* STOP NAV BAR */

/* START MAIN */


.img_container{
    max-width: 200px;
}

/* SECTION COLORS */



.color_main_1{
    background-color: #1ABC9C;
}

.color_footer{
    background-color: #3A546D;
}

.color_footer_1{
    background-color: #2C3E50;
}


/* UTILITY CLASS */




.h-100{
    min-height: 100px;
}