
/* START NAV BAR */
.color_nav_my_style,
.color_footer_1{
   background-color: #2C3E50;
   border-radius: 0;
   margin-bottom: 0;
}

.color_nav_my_style .nav>li>a:hover{
    background-color:transparent;
}

.color_nav_my_style .navbar-brand,
.color_nav_my_style .nav>li>a,
.color_main_1,
.color_footer,
.color_footer_1{
    color: white;
}

.icon_bar_style{
    background-color: white;
} 
 
/* STOP NAV BAR */

/* START MAIN */


.sec_padd{
    padding-top: 30px;
    padding-bottom: 30px;
}

.color_main_1{
    background-color: #1ABC9C;
}



.img_container{
    max-width: 150px;
}

.title_style{
    font-weight: 600;
    font-size: 40px;
}


.container_line_star{
    padding-top: 10px;
    padding-bottom: 20px;
}


.line_star{
    display:inline-block;
    min-width: 20px;
    width: 30%;
    max-width: 120px;
   
    border: 2px solid white;
}

.under_title{
    font-size: 18px;
}



.container_img_main{
    padding-top: 15px;
    padding-bottom: 15px; 
}

.container_main_line{
    padding-top: 10px;
    padding-bottom: 20px;
}

.container_main_line_star>.line_star{
    border:2px solid #2C3E50 ;

}

.btn_container_default{
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn_default{
    background-color: transparent;
    border: 1px solid white;
}

.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 10px;
}

.btn_send_style{
    background-color: #1ABC9C;
}

.color_footer .container .container_social a{
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.color_footer_text{
    color:#1ABC9C;
}
/* SECTION COLORS */




.color_footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3A546D;

}

.color_footer_1{
    background-color: #2C3E50;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* UTILITY CLASS */




.h-100{
    min-height: 100px;
    
}

